@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

    
@media only screen and (min-width: 60em) {
     html {
         font-size: 110%;
     }
    
}

@media only screen and (min-width: 90em) {
     html {
         font-size: 120%;
     }
    
}

@media only screen and (min-width: 120em) {
     html {
         font-size: 130%;
     }
    
}

body {
  margin: 0;
  padding: 0;
}

.billboard {
    background-image: url(../assets/billboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top:5rem;
}

.button {
    font-size: 2em;
    background-color: #B3D06E;
    font-family: "PT Sans", sans-serif ;
    font-weight: bold;
    padding: 0.5em 0.75em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    max-width: 300px;
}

.button:hover {
    background-color: orange;
    cursor: pointer;
    color: #fff;
}

.button:active {
    background-color: red;
} 

.symbols {
    text-align: center;
}

.action,
.actiontext {
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0, .5);
}

.actiontext {
    line-height: 1.5;
}
        
img {
  display: block;
  width: 100%;
}

.flex {
    display: block;
    width: 100%;
}

.header {
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    width:220px;
    padding-left:1rem;
    padding-top:1rem;
    display:block;
    margin: 0 auto;
}

a:focus {
    outline: 3px solid #000;
}

.topsellers {
    background-color: rgba(178, 208, 110, 0.5);
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -10em;
    background-color: #000;
    color: red;
    padding: 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

.masthead {
    background-color: #423F4A;
    overflow: hidden;
    margin: 0;
    padding: 0;
} 

.legal {
    color: #fff;
}

.nav {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    padding-left: 0;
}

.nav li {
    margin: 0;
    display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #B3D06E;
    color: #fff;
}

.getstarted {
    color: #423F4A;
    text-decoration: none;
}

.submit {
    color: #423F4A;
    text-decoration: none;
}

.radio {
    white-space: nowrap;
}

.subhead {
    text-align: center;
}

.formbox {
    background-color: #e2e2e2;
}

label{
    text-align: left;
    display: block;
}

input + label {
    display: inline-block;
}

textarea {
    width: 100%;
    height: 20em;
    border: 1px solid #ccc;
    border-radius: 3px;   
}

input[type="text"],
input[type="email"],
input[type="number"] {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    font-size: 1.125em;
    font-family: serif;
    background-color: white;
    padding: 0.5em;
    text-align: left;
}

button {
    font-size: 1em;
    font-family: sans-serif;
}

.topsellers {
    padding-left: 1.5rem;
}

hr {
    border: solid 1px #423F4A;
}

.books img {
    float: left;
    width:calc(50% - 1.5rem);
}

.books img + img {
    float: right;
}

.symbols {
    display:inline-block; 
}

.symbol {
    float: center;
}

.price {
    float: center;
}

.caption {
    text-align: center;
    width: 100%;
}

.description {
    display: inline-block;
    text-align: center;
}

.pricing {
    display: inline-block;
}

.feature {
    overflow: hidden;
    float: left;
    text-align: center;
} 

.thankyoufooter {
    background-color: #423F4A;
}

.thankyou {
    background-color: #B3D06E;
    padding: 8em 0;
    text-align: center;
    color: white;
}

footer {
    color: #e2e2e2;
}

footer a {
    color: white;
}
    
@media only screen and (min-width: 25em) {
        
   
}
    
@media only screen and (min-width: 38em) { 
    
    .header {
        float: left;
    }
    
    .nav {
        float: right;
    }
    
     .footer {
        float: right;
    }
    
    .symbol {
    float: none;
    width: auto;
    }

    .caption {
        float: none;
        text-align: center;
        width: auto;
    }
        
     .logo {
         margin: 0;
     }
        
    
}

@media only screen and (min-width: 60em) { 
    
    .data dt {
        float: left;
        width: 16em;
        clear: left;
    }
    
    .data dd {
        float: left;
    }
    
    .info {
        padding-left: 1.5rem;
    }
    
    .discovery-text {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .review {
        -moz-column-count: 2;
        -moz-column-gap: 40px;
        -webkit-column-count: 2;
        -webkit-column-gap: 40px;
    }
    
}